<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src='https://code.jquery.com/jquery-3.5.1.slim.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
</head>
<body>
    <table class='table table-striped table-dark'>
        <thead>

            <tr>
                <th>Đường dẫn</th>
                <th>Tiêu đề</th>
                <th>Tóm tắt</th>
                <th>Nội dung</th>
                <th>Thời gian bài đăng</th>
                <th>Tác giả</th>
            </tr>

        </thead>
        <tbody id='articles-list'>
            {% for article in articles %}
            <tr>
                <td>{{ article[1] }}</td>
                <td>{{article[2]}}</td>
                <td>{{article[3]}} </td>
                <td>{{article[4]}}</td>
                <td>{{article[5]}}</td>
                <td>{{article[6]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>